
.map-container {
  height: 100vh;
}

.side-bar {
  background-color: #f8f9fa; 
  border-right: 1px solid #ddd; 
  padding: 1rem;
  z-index: 1; 
}

.map {
  height: 100%; 
}
.context-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0;
  list-style: none;
}

.context-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}