<div class="container-fluid map-container">
  <div class="h-100 d-flex">
    <div class="side-bar">
      <span class="pi pi-bars" (click)="toggleDrawer()"></span>
    </div>

    <p-drawer
      [(visible)]="sidePananelVisible"
      (onHide)="currentInsight = null"
      [style]="{ width: '400px' }"
    >
      <ng-template #header>
        <div *ngIf="currentInsight" class="d-flex justify-content-between w-100">
          <div class="font-bold ">{{ currentInsight?.title }}</div>
          <div *ngIf="showAction" class="action-group d-flex justify-content-between">
              <div class="pi pi-pen-to-square cursor-pointer" title="edit" (click)="openEditInsight()"></div>
              <div class="pi pi-trash cursor-pointer" title="delete" (click)="deleteInsight($event)"></div>
          </div>
        
        </div>
        <div *ngIf="!currentInsight">
          please select an insight to view details

        </div>
      </ng-template>
      <app-insight-detail
        *ngIf="currentInsight"
        [insight]="currentInsight"
      ></app-insight-detail>
    </p-drawer>

    <div class="col map" #map></div>
    <div #contextMenu class="context-menu" (mouseleave)="hideContextMenu()">
      <ul>
        <li (click)="onMenuItemClick('Option 1')">Add insight here</li>
      </ul>
    </div>
  </div>
</div>

<app-insight-creation-pop
  *ngIf="dialogVisible"
  [isEdit]="isEdit"
  [insight]="currentInsight"
  [lat_long]="lat_long"
  (onClose)="handleClosePopup($event)"
></app-insight-creation-pop>

<p-confirmpopup />
