<div class="add">
  <p-button
    (click)="openPopup()"
    class="add-review"
    label="Write a review"
    icon="pi pi-plus-circle"
    size="small"
    variant="outlined"
  />
</div>

<div *ngIf="feedbacks.length === 0" class="text-muted text-center">
  No feedback yet.
</div>
<div *ngFor="let fb of feedbacks" class="mb-3">
  <p-card>
    <ng-template #title>
      <div class="mb-2 d-flex justify-content-between align-items-center">
        <div> {{ fb.user || "Anonymous" }}

        <small class="text-muted">{{
          fb.created_date | date : "medium"
        }}</small></div>
       
        
      <span *ngIf="fb.user === loggedInUser" class="d-flex gap-2">
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="editFeedback(fb)"
          title="Edit"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-text p-button-sm text-danger"
          (click)="deleteFeedback(fb)"
          title="Delete"
        ></button>
      </span>
      </div>


      <span class="d-flex align-items-center gap-2">
        <p-rating [readonly]="true" [ngModel]="fb.rating"></p-rating>
      </span>
    </ng-template>
    <ng-template #subtitle>
      <small class="text-muted">{{ fb.created_date | date : "medium" }}</small>
    </ng-template>
    <div>
      {{ fb.comment || fb.feedback || "-" }}
    </div>
  </p-card>
</div>

<app-feedbackpop-up
  *ngIf="isPopupVisible"
  [isEdit]="isEdit"
  [currentFeedback]="currentFeedback"
  [insight]="insight"
  (onClose)="closePopup($event)"
>
</app-feedbackpop-up>
