/* You can add global styles to this file, and also import other style files */
.p-toast-detail {
  color: #776767 !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in height/width calculations */
  position: relative;
}
.p-dialog {
  background: #ffffff !important;
}
.p-dialog-header {
  color: #000000 !important;
}

.p-dialog-content {
  color: #000000 !important;
}
.p-drawer {
  background: #ffffff !important;
  color: #000000 !important;
  .p-drawer-header {
        padding: .5em!important;
        font-size: medium!important;
  }
}
.p-accordionheader {
 padding: .5em!important;
 font-size: small!important;
}

/* ...existing code... */

// Thin scrollbar for Webkit browsers (Chrome, Edge, Safari)
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd #f5f5f5;
}

.p-drawer-content {
  padding: 0em 1em 1em 1em !important;
}
.p-accordioncontent-content {
    padding: 0.5em!important; 
    font-size: 12px!important;
}

.cursor-pointer {
  cursor: pointer;
}
.p-card-title {
  font-size: 13px !important;

}
.p-card-body {
  padding: 1em!important;
}

